<ng-container [ngSwitch]="resource.kind">
    <ng-container *ngSwitchCase="'Loading'">
        <app-loading></app-loading>
    </ng-container>

    <ng-container *ngSwitchCase="'Empty'">
        <p>Nothing here</p>
    </ng-container>

    <ng-container *ngSwitchCase="'Data'">
        <ng-container *ngTemplateOutlet="dataTemplate; context: { $implicit: data }">
        </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'Error'">
        <div class="d-flex">
            <h5 class="m-auto p-4 text-muted">{{ errorMessage }}</h5>
        </div>
    </ng-container>
</ng-container>
